@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
li,
p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

/* Home Page */
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

#home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 35px;
  width: 75%;
  height: 75%;
}

.title {
  text-decoration: none;
  font-size: 200%;
  font-weight: 500;
}

.card {
  background-color: #232323;
  border-radius: 4px;
  border-top: 20px solid #e6e6e6;
}

.home-card-one {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  box-shadow: 5px 5px #ffeb99;
}

.home-card-two {
  grid-column: 4 / 6;
  grid-row: 1 / 4;
  box-shadow: 5px 5px #a0c4ff;
}

.home-card-three {
  grid-row: 3 / 6;
  grid-column: 1 / 3;
  box-shadow: 5px 5px #96f7d2;
}

.home-card-four {
  grid-column: 3 / 6;
  grid-row: 4 / 6;
  box-shadow: 5px 5px #f5b5fc;
}

[class*="home-card-"],
[class*="home-card-"]>* {
  transition: all .3s ease-in-out;
}

[class*="home-card-"]:hover {
  transform: scale(1.04);
  text-decoration: underline;
  text-underline-position: under;
}

.home-card-one:hover {
  box-shadow: 10px -10px #ffeb99, 10px 10px #ffeb99, -10px 10px #ffeb99, -10px -10px #ffeb99;
}

.home-card-two:hover {
  box-shadow: 10px -10px #a0c4ff, 10px 10px #a0c4ff, -10px 10px #a0c4ff, -10px -10px #a0c4ff;
}

.home-card-three:hover {
  box-shadow: 10px -10px #96f7d2, 10px 10px #96f7d2, -10px 10px #96f7d2, -10px -10px #96f7d2;
}

.home-card-four:hover {
  box-shadow: 10px -10px #f5b5fc, 10px 10px #f5b5fc, -10px 10px #f5b5fc, -10px -10px #f5b5fc;
}

.home-card-one:hover>* {
  text-decoration-color: #ffeb99;
}

.home-card-two:hover>* {
  text-decoration-color: #a0c4ff;
}

.home-card-three:hover>* {
  text-decoration-color: #96f7d2;
}

.home-card-four:hover>* {
  text-decoration-color: #f5b5fc;
}

/* About Page */
#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

#about-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 75px;
  width: 75%;
  height: 75%;
}

.about-card-two {
  text-decoration: none;
  font-size: 150%;
  font-weight: 500;
  padding: 25px;
  margin-top: 5%;
  margin-bottom: 20%;
  box-shadow: 5px 5px #a0c4ff;
}

.about-card-one {
  grid-column: 1 / 7;
  grid-row: 1 / 4;
  box-shadow: 10px 10px #a0c4ff;
}

.console {
  padding: 30px;
  overflow-y: auto;
  height: 100%;
  line-height: 22px;
}

.console>ul {
  margin: 0;
}

.console>span,
.console>ul>span,
.console>ul>ul>span,
.console>ul>ul>ul>span,
.console>ul>ul>a,
.console>ul>ul>ul>a {
  font-family: Consolas, monaco, monospace;
  text-align: left;
  font-size: 90%;
}

[class*="about-card-"],
[class*="about-card-"]>* {
  transition: all .3s ease-in-out;
}

[class*="about-card-"]:hover {
  transform: scale(1.04);
}

.about-card-one:hover {
  box-shadow: 10px -10px #a0c4ff, 10px 10px #a0c4ff, -10px 10px #a0c4ff, -10px -10px #a0c4ff;
}

.about-card-two:hover {
  box-shadow: 5px -5px #a0c4ff, 5px 5px #a0c4ff, -5px 5px #a0c4ff, -5px -5px #a0c4ff;
}


/* Education Page */
#education {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

#education-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 75px;
  width: 75%;
  height: 75%;
}

.edu-card-one {
  text-decoration: none;
  font-size: 150%;
  font-weight: 500;
  padding: 25px;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: 5px 5px #96f7d2;
}

.edu-card-two {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  box-shadow: 10px 10px #96f7d2;
  flex-direction: column;
  display: flex;
}

.edu-card-three {
  grid-column: 3 / 7;
  grid-row: 1 / 4;
  box-shadow: 10px 10px #96f7d2;
}

.console-title {
  font-size: 150%;
  font-weight: 500;
  padding-bottom: 15px;
}

.school-title {
  font-size: 150%;
  font-weight: 500;
  padding: 20px;
}

.degree-title {
  font-size: 100%;
  font-weight: 500;
  padding: 0px;
}

.console>ul>li,
.console>ul>p {
  text-align: left;
  padding: 6px;
}

.card-img {
  width: auto;
  height: auto;
  max-height: 80%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[class*="edu-card-"],
[class*="edu-card-"]>* {
  transition: all .3s ease-in-out;
}

[class*="edu-card-"]:hover {
  transform: scale(1.04);
}

.edu-card-one:hover {
  box-shadow: 5px -5px #96f7d2, 5px 5px #96f7d2, -5px 5px #96f7d2, -5px -5px #96f7d2;
}

.edu-card-two:hover {
  box-shadow: 5px -5px #96f7d2, 5px 5px #96f7d2, -5px 5px #96f7d2, -5px -5px #96f7d2;
}

.edu-card-three:hover {
  box-shadow: 5px -5px #96f7d2, 5px 5px #96f7d2, -5px 5px #96f7d2, -5px -5px #96f7d2;
}


/* Projects Page */
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  width: 75%;
  height: 75%;
  place-content: center;
}

#projects-grid>* {
  min-width: 0px;
}

.proj-card-main {
  text-decoration: none;
  font-size: 150%;
  font-weight: 500;
  padding: 25px;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: 5px 5px #f5b5fc;
}

.proj-card-one {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 3%;
  box-shadow: 10px 10px #f5b5fc;
}

.proj-img {
  width: auto;
  height: auto;
  max-width: 170px;
  max-height: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

[class*="proj-card-"]>a {
  text-decoration: none;
}

[class*="proj-card-"] {
  display: grid;
  place-content: center;
}

[class*="proj-card-"],
[class*="proj-card-"]>* {
  transition: all .3s ease-in-out;
}

[class*="proj-card-"]:hover {
  transform: scale(1.04);
  text-decoration: underline;
  text-underline-position: under;
}

.proj-card-one:hover,
.proj-card-main:hover {
  box-shadow: 5px -5px #f5b5fc, 5px 5px #f5b5fc, -5px 5px #f5b5fc, -5px -5px #f5b5fc;
}



/* Responsive WD */
@media only screen and (max-width: 600px) {
  [class*="home-card-"] {
    grid-column: 1;
  }

  .home-card-one {
    grid-row: 1;
  }

  .home-card-two {
    grid-row: 2;
  }

  .home-card-three {
    grid-row: 4;
  }

  .home-card-four {
    grid-row: 5;
  }

  #home-grid {
    height: 85%;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  #about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
  }

  .console {
    line-height: 15px;
  }

  .about-card-one {
    grid-row: 1 / 5;
    box-shadow: 10px 10px #a0c4ff;
  }

  .console>span,
  .console>ul>span,
  .console>ul>ul>span,
  .console>ul>ul>ul>span,
  .console>ul>ul>a,
  .console>ul>ul>ul>a {
    font-size: 65%;
  }
}

@media only screen and (max-width: 800px) {
  #projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 800px) {
  #education-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
  }

  .edu-card-two {
    grid-column: 1;
    grid-row: 1 / 3;
    flex-direction: row;
  }

  .edu-card-three {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .school-title {
    padding: 10px 0px 10px 0px;
    font-size: 110%;
  }

  .degree-title {
    padding: 4px;
    font-size: 80%;
  }

  .console-title {
    font-size: 125%;
    font-weight: 500;
    padding-bottom: 15px;
  }

  .console>ul>li,
  .console>ul>p {
    text-align: left;
    padding: 6px;
    font-size: 80%;
  }

  .card-img {
    max-height: 70%;
    max-width: 70%;
  }
}


/* Background images */
.about-waves {
  background-image: url("../img/about-top.svg"), url("../img/about-bottom.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.edu-waves {
  background-image: url("../img/edu-top.svg"), url("../img/edu-bottom.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj-waves {
  background-image: url("../img/project-top.svg"), url("../img/squiggle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.poly-grid,
.about-bg,
.edu-bg {
  position: relative;
  overflow: hidden;
}

.poly-grid:before,
.about-bg:before,
.edu-bg:before {
  content: "";
  position: absolute;
  width: 250%;
  height: 250%;
  z-index: -1;
}

.poly-grid:before {
  background: url("../img/poly-grid.svg") 0 0 repeat;
  animation: spinClock 150s infinite;
}

.about-bg:before {
  background: url("../img/about-bg.svg") 0 0 repeat;
  animation: spinCounter 150s infinite;
}

.edu-bg:before {
  background: url("../img/edu-bg.svg") 0 0 repeat;
  animation: spinClock 150s infinite;
}

@keyframes spinClock {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinCounter {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.clouds {
  background-image: url("../img/clouds-top-test.svg"), url("../img/clouds-bottom-1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-image: url("../img/clouds-top-1.svg"), url("../img/clouds-bottom-1.svg");
  }

  25% {
    background-image: url("../img/clouds-top-2.svg"), url("../img/clouds-bottom-2.svg");
  }

  50% {
    background-image: url("../img/clouds-top-3.svg"), url("../img/clouds-bottom-3.svg");
  }

  75% {
    background-image: url("../img/clouds-top-4.svg"), url("../img/clouds-bottom-4.svg");
  }

  100% {
    background-image: url("../img/clouds-top-1.svg"), url("../img/clouds-bottom-1.svg");
  }
}
